<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <title>{{ user.username }}'s Profile</title>
</head>
<body>
    <header class="header">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt="logo">
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('user_profile', username=current_user.username) }}">My Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
        <main>
            <div class="container">
                <div class="profile-post">
                    <h1>{{ user.username }}'s Profile</h1>
                    <p>Email: {{ user.email }}</p>
                    {% if is_own_profile %}
                        <p>Account Created On: {{ user.created_at }}</p>
                    {% endif %}

                    <h2>Recent posts</h2>
                    <ul class="recent-post">
                        {% for post in user.posts[:10] %}
                            <li>
                                <p>{{ post.text }}</p>
                                <p>Category: {{ post.category }}</p>
                                <p>Posted On: {{ post.created_at }}</p>
                                <p>Likes: {{ post.likes_count }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                
                    {% if is_own_profile %}
                        <form id="delete-account-form" action="{{ url_for('delete_account') }}" method="POST" onsubmit="return confirmDeletion();">
                            <button type="submit" class="like-button">Delete Account</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            
            
    </main>
    
    <script>
        function confirmDeletion() {
            return confirm('Are you sure you want to delete your account? This action cannot be undone.');
        }
    </script>
    </body>
    </html>
    