<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">      
    <title>Reddit</title>
</head>
<body>
    <header class="header">
            <img src="/static/img/logo.png" class="logo" alt="logo">
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </nav>
    </header>     
    <main>
        <div class="welcome-page">
            
            <h1>Welcome to Reddit</h1>
            <h2>Dive Into anything</h2>
            <div>
                <p>
                    Reddit is home to thousands of communities, endless conversation, and authentic human connection. Whether you're into breaking news, sports, TV fan theories, or a never-ending stream of the internet's cutest animals, there's a community on Reddit for you.
                </p>
            </div>
        </div>
    </main>

</body>
</html>