<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <script src="{{ url_for('static', filename='likepost.js') }}"></script>
    <title>{{ category }} Subreddit</title>
</head>
<body>
    <header class="header">
        <img src="/static/img/logo.png" class="logo" alt="logo">
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('user_profile', username=current_user.username) }}">My Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
</header>
    <main>
        <div class="icon">
             <img src="/front-end/static/img/arrow.png" alt="">
        <a href="{{ url_for('home') }}">Go to Homepage</a>
        </div>
       
        <h1>{{ category }} Subreddit</h1>
        <h2>Welcome, {{ username }}!</h2>

        <section>
            <h2>Create a Post</h2>
            <form method="POST">
                <textarea name="text" placeholder="Write your post here..." required></textarea>
                <button type="submit" class="post-btn">Post</button>
            </form>
        </section>

        <section class="section">
            <h2>Recent posts:</h2>
            <div id="post-feed">
                {% if posts %}
                    {% for post, user in posts %}
                    <div class="post">
                        <p><a href="{{ url_for('user_profile', username=user.username) }}">{{ user.username }}</a></p>
                        <p>{{ post.text }}</p>
                        <p>Category: {{ post.category }}</p>
                        <p>Posted on: {{ post.created_at }}</p>
                        <p>Likes: <span id="likes-count-{{ post.id }}">{{ post.likes_count }}</span></p>
                        <button class="like-button" data-post-id="{{ post.id }}">Like</button>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No posts found.</p>
                {% endif %}
            </div>                    
        </section>         

    </main>
</body>
</html>
